.cont {
    border: 2px solid darkred;
    width: 800px;
    padding: 0 10px;
    margin: 10px auto;
    padding: 20px;
}
.paragraph {
    line-height: 1.3;
    font-size: 17px;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}
.subHeadings,
h1 {
    color: tomato;
    font-family: 'Courier New', Courier, monospace;

}
